[defaults]
inventory = inventory/hosts.yml
remote_user = ansible
host_key_checking = True
stdout_callback = yaml
hash_behaviour = merge
interpreter_python = auto_silent
retry_files_enabled = False
roles_path = ./roles

[ssh_connection]
pipelining = True
