name: {{ turaes_first_app_name }}
binary: {{ turaes_first_app_binary }}
port: {{ turaes_first_app_port }}
domain: {{ turaes_first_app_domain }}
health:
  path: {{ turaes_first_app_health_path }}
metrics_path: {{ turaes_first_app_metrics_path }}
